{% extends "layout.html" %}
{% block content %}
	<link rel="stylesheet" href="../static/styles/dialog.css">
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form id="reset-form" class="login100-form" method="POST" onsubmit="event.preventDefault(); document.getElementById('confirm-dialog').showModal(); document.getElementById('confirm-dialog').style.display = 'block';">
					<span class="login100-form-logo">
						<!-- <i class="zmdi zmdi-landscape"></i> -->
						<img src="../static/images/StaffSync-white@4x.png" alt="StaffSync Logo" width="64px" height="64px">
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Reset a User Password
					</span>
					<div class="wrap-input100 validate-input" data-validate="Enter email">
						<select id="account_selector" class="input100" name="account_selector" placeholder="---" onchange="toggleInput()">
							<option value=""> Select an option: </option>
							<option value="staff_id">Staff ID</option>
							<option value="email">E-mail</option>
						</select>
						<!-- <span class="focus-input100"></span> -->
					</div>
					
					<div class="wrap-input100" id="email_input" data-validate="Enter email" style="display: none;">
						<input id="email" class="input100" type="text" name="email" placeholder="E-mail">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100" id="staff_input" data-validate="Enter Staff ID" style="display: none;">
						<input id="staff_id" class="input100" type="text" name="staff_id" placeholder="Staff ID">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div><center>{{ msg }}</center></div>
					<div class="container-login100-form-btn">
						<button id="btnsubmit" type="submit" class="login100-form-btn">
							Reset Password
						</button>
					</div>
				</form>
				<dialog id="confirm-dialog" class="dialog-overlay" style="display: none;">
					<p>Are you sure you want to proceed?</p>
					<div class="dialog-buttons">
						<button onclick="confirmSubmission()">Yes</button>
						<button onclick="cancelOperation()">No</button>
					</div>
				</dialog>
				<div class="text-center p-t-90">
						<a class="txt1" href="{{ url_for('admin') }}">
							Go back
						</a>
					</div>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/scripts/main.js"></script>
	<script src="../static/scripts/dialog.js"></script>

{% endblock %}
