.side-bar{
    height: 100svh;
    border-right: 1px solid #afafaf;
}

.dashboard-main{
    background-color: #cccccc;
    width: 100%;
    height: 100svh;
    padding: 20px 30px;
}

section{
    display: flex;
    /* margin: auto; */
}

.container-home{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    
}

.logo-home{
    padding-bottom: 15px;
}

.desc {
    padding-bottom: 25px;
}

.p2{
    padding: 0 3rem;
}
.remember-me{
    padding-bottom: 20px;
}

.sign-in{
    margin: auto;
    padding: auto;
    width: 480px;
    height: 480px;
    background-color: #fcf6c9;
    border-radius: 20px;
    /* box-shadow: ; */
}

#dynamic-text {
    padding-bottom: 15px;
}

.logo {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.logo-logo{
    width: 50%;
}