.side-bar{
    height: 100svh;
}

.dashboard-main{
    background-color: burlywood;
    width: 100%;
    height: 100svh;
    padding: 20px 30px;
}

section{
    display: flex;
}
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
} */

.p2{
    padding: 0 3rem;
}
.remember-me{
    padding-bottom: 20px;
}

.sign-in{
    margin: auto;
    padding: auto;
    width: 480px;
    height: 480px;
    background-color: #fcf6c9;
    border-radius: 20px;
    /* box-shadow: ; */
}