/* Default light theme */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 40px; /* Reduced width */
    height: 20px; /* Reduced height */
    margin-right: 10px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px; /* Reduced height */
    width: 16px; /* Reduced width */
    left: 2px; /* Adjusted position */
    bottom: 2px; /* Adjusted position */
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px); /* Adjusted for smaller size */
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px; /* Adjusted for smaller size */
}

.slider.round:before {
    border-radius: 50%;
}

/* Dark theme */
body.dark-theme > * {
    background-color: black;
    color: white;
}

body.dark-theme a {
    color: rgb(255, 255, 255) !important;
}

/* Light theme */
body.light-theme {
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0) !important;
}

body.light-theme a {
    color: black !important;
}
.dropdown-menu-light {
    --bs-dropdown-bg: #c3c3c3 !important;
}

/* body.light-theme * {
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0) !important;
} */